body {
  display: block;
  font-family: "Inter", sans-serif;
  background-color: black;
  margin: 0 auto;
  padding: 0 10%;
  max-width: 1200px;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.arrow {
  margin-left: 6px;
}

@media only screen and (max-width: 600px) {
  html {
    overflow: visible;
  }
}

/* Media Queries */

@media screen and (max-width: 600px) {
  nav a:not(:first-child) {
    display: none;
  }

  nav a.icon {
    float: right;
    display: block;
  }

  .card {
    padding-top: 10px;
  }
}
