nav {
  transform: translateY(80px);
  margin-top: -200px;
  position: absolute;
  z-index: 100;
  height: 112px;
}

.nav__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 15;
}

.nav__item--left {
  padding-right: 700px;
}

.nav__item--logo {
  width: 123.76px;
  height: 24px;
  margin-left: auto;
}

.nav__item--link {
  display: flex;
  padding: 1em;
  font-size: 14.4px;
  line-height: 17.43px;
  font-weight: bold;
  color: #fff;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  white-space: nowrap;
}

.nav__item--cta {
  font-weight: 700;
  color: #fff;
  height: 40px;
  width: 141px;
  min-width: 141px;
  top: 4px;
  left: -3px;
  margin-left: 40px;
  font-size: 14.4px;
  text-align: center;
  line-height: 40px;
  background: #2885f6;
  border-radius: 3px;
}

.nav__item--link:hover {
  color: #2885f6;
}

/* Call-to-Action SVG Arrow */
.arrow {
  stroke: white;
}
